<%- include('partial/header'); %>
<body>
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login" class="btn btn-primary"> Login</a>
    <a href="/signup" class= "btn btn-info"> Signup</a>
</body>
</html>